.order-btn {
  background-color: red !important;
	margin: 0 !important;
	font-size: 12px !important;
	width: 150px !important;
	line-height: normal !important;
	letter-spacing: 0 !important;
}
.order-title {
	font-weight: 600;
	font-size: 20px;
	background-color: grey;
	padding: 5px;
	text-align: center;
}
.order-form-inner-wrapper {
	display: flex;
	flex-direction: column;
}
.order-item {
	margin-bottom: 10px;
}
.submit-order__btn {
	background-color: rgb(38, 151, 38);
	color: white;
	padding: 5px;
	margin: 0 auto;
	border-radius: 10px;
	cursor: pointer;
}
.order-name {
	display: flex;
	flex-direction: column;
}